<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col" class="border-0 bg-light">
          <div class="py-2 text-uppercase">
            Product
          </div>
        </th>
        <th scope="col" class="border-0 bg-light">
          <div class="py-2 text-uppercase">
            Price
          </div>
        </th>
        <th scope="col" class="border-0 bg-light">
          <div class="py-2 text-uppercase">
            Quantity
          </div>
        </th>
        <th scope="col" class="border-0 bg-light">
          <div class="py-2 text-uppercase">
            Total
          </div>
        </th>
        <th scope="col" class="border-0 bg-light">
          <div class="py-2 text-uppercase">
            Remove
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of (basket$ | async).items">
        <th scope="row">
          <div class="p-2">
            <img src="{{item.pictureUrl}}" alt="{{item.productName}}" class="img-fluid">
            <div class="ms-2 d-inline-block align-middle">
              <h5 class="mb-0">
                <a class="text-dark" routerLink="/shop/{{item.id}}">{{item.productName}}</a>
              </h5>
              <span class="text-muted font-weight-normal font-italic d-block">
                Type: {{item.type}}
              </span>
            </div>

          </div>
        </th>
        <td class="align-middle"> <strong>{{item.price | currency}}</strong></td>
        <td class="align-middle">
          <div class="d-flex align-items-center">
            <!-- Increment and decrement item quantity -->
            <i (click)="decrementItemQuantity(item)" class="fa fa-minus-circle text-success ms-3 me-1 mt-1"
              style="cursor: pointer; font-size: 2em;"></i>
            <span class="mt-1" style="font-weight: bold; font-size: 1.25em;">
              {{item.quantity}}
            </span>
            <i (click)="incrementItemQuantity(item)"  class="fa fa-plus-circle text-success mt-1 ms-1"
              style="cursor: pointer; font-size: 2em;"></i>
          </div>
        </td>
        <td class="align-middle"><strong>{{item.price * item.quantity | currency}}</strong></td>
        <td class="align-middle">
          <!-- Remove Item from cart -->
          <a class="text-danger">
            <i (click)="removeBasketItem(item)" class="fa fa-trash-o" style="font-size: 2em;"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
