<div class="mt-4" [formGroup]="checkoutForm">
  <!-- Address Header -->
  <div class="d-flex justify-content-between align-items-center">
    <h4>Shipping Address</h4>
    <button
      class="btn btn-success mb-3"
      (click)="saveUserAddress()"
      [disabled]="!checkoutForm.get('addressForm').dirty
        || !checkoutForm.get('addressForm').valid"
    >
      Save as default address
    </button>
  </div>
  <!-- Address Form -->
  <div class="row" formGroupName="addressForm">
    <div class="form-group col-6">
      <app-text-input [label]="'First Name'" formControlName="firstName"></app-text-input>
    </div>
    <div class="form-group col-6">
      <app-text-input [label]="'Last Name'" formControlName="lastName"></app-text-input>
    </div>
    <div class="form-group col-6">
      <app-text-input [label]="'Street Address'" formControlName="streetNumberAndName"></app-text-input>
    </div>
    <div class="form-group col-6">
      <app-text-input [label]="'Country'" formControlName="country"></app-text-input>
    </div>
    <div class="form-group col-6">
      <app-text-input [label]="'City'" formControlName="city"></app-text-input>
    </div>
    <div class="form-group col-6">
      <app-text-input [label]="'State / Province / Parish'" formControlName="stateOrProvince"></app-text-input>
    </div>
    <div class="form-group col-6">
      <app-text-input [label]="'Zip / Postal Code'" formControlName="zipCode"></app-text-input>
    </div>
  </div>
  <!-- Checkout Step navigation buttons  -->
  <div class="float-none d-flex justify-content-between flex-column flex-lg-row mb-5">
    <button class="btn btn-outline-primary" routerLink="/basket">
      <i class="fa fa-angle-left"></i>
      Back to Shopping Cart
    </button>
    <button [disabled]="checkoutForm.get('addressForm').invalid" class="btn btn-primary" cdkStepperNext>
      Choose Delivery Method <i class="fa fa-angle-right"></i>
    </button>
  </div>
</div>
