<carousel [interval]="9000" [isAnimated]="true">
  <slide>
    <img src="assets/images/wine-background-3.jpg" alt="First Slide">
  </slide>
  <slide>
    <img src="assets/images/wine-background-4.jpg" alt="Second Slide">
  </slide>
  <slide>
    <img src="assets/images/wine-background-2.jpeg" alt="Third Slide">
  </slide>
  <slide>
    <img src="assets/images/wine-background-7.jpeg" alt="Fourth Slide">
  </slide>
  <slide>
    <img src="assets/images/wine-background-5.jpeg" alt="Fifth Slide">
  </slide>
  <slide>
    <img src="assets/images/wine-background-6.jpeg" alt="Sixth Slide">
  </slide>

</carousel>
<section class="featured">
  <div class="d-flex justify-content-center pt-4">
   <h1 class="text-center">
    Welcome to WineRez
    <hr>
    <div>
      <h3>An e-commerce store that sells exquisite wine</h3>
    </div>
    </h1>

  </div>


</section>
