<carousel>
  <slide>
    <img src="assets/images/wine-background-4.jpg" alt="First Slide" style="display: block; width: 100%">
  </slide>
  <slide>
    <img src="assets/images/wine-background-2.jpg" alt="Second Slide" style="display: block; width: 100%">
  </slide>
  <slide>
    <img src="assets/images/wine-background-3.jpg" alt="Third Slide" style="display: block; width: 100%">
  </slide>
  <slide>
    <img src="assets/images/wine-background-1.jpg" alt="Fourth Slide" style="display: block; width: 100%">
  </slide>
  <slide>
    <img src="assets/images/wine-background-6.jpg" alt="Fifth Slide" style="display: block; width: 100%">
  </slide>

</carousel>
<section class="featured">
  <div class="d-flex justify-content-center pt-4">
    <h1 class="text-center">
      Welcome to WineRez:
      Home to Exquiste Tasting Wine
      <hr>
      <span class="fs-2">Login or Sign up to Get Started</span>
    </h1>
  </div>
</section>
