<div class="row mt-2" *ngIf="product">
   <div class="col-12">
      <h6 class="me-2">Brand: {{product.productBrand}} </h6>
      <h6>Type: {{product.productType}}</h6>
    <div class="">
      <p>{{product.description}}</p>
    </div>
    <div class=" d-flex justify-content-start">
      <h4>{{product.price | currency}}</h4>
      <i class="fa fa-minus-circle text-danger ms-3 me-1"
        style="cursor: pointer; font-size: 2em;"></i>
      <span style="font-weight: bold; font-size: 1.25em;">1</span>
      <i class="fa fa-plus-circle text-danger ms-1" style="cursor: pointer; font-size: 2em;"></i>
    </div>
    <button class="mt-2 btn btn-danger btn-lg">
      Add to Cart
    </button>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <img src="{{product.pictureUrl}}" alt="{{product.name}}" class="img-fluid w-100 ">
    </div>
  </div>
</div>

