<section class="py-5 text-white" style="margin-top: 105px; background-color: #e85d65">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-9">
        <h1>Section Title</h1>
      </div>
      <div class="col-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item text-white"><a href="#">Home</a></li>
            <li class="breadcrumb-item text-white active" aria-current="page">Library</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
