
.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: 1rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 1rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
// loading spinner styling
.loader {
  position: absolute;
  width: auto;
  top: 1.5625rem;
  right: 1.875rem;
  margin-top: 0;
}
