<div class="card h-100 shadow-sm bg-light">
  <div class="image position-relative" style="cursor: pointer;">
    <img src="{{product.pictureUrl}}" alt="{{product.name}}" class="img-fluid w-100 img-thumbnail bg-light">
    <div class="d-flex align-items-center justify-content-center hover-overlay">
      <button (click)="addProductToBasket()" type="button" class="btn btn-primary fa fa-cart-arrow-down me-2 px-1"></button>
      <button routerLink="/shop/{{product.id}}" type="button" class="btn btn-secondary fa fa-eye px-1"></button>
    </div>
  </div>

  <div class="card-body d-flex flex-column">
    <a routerLink="/shop/{{product.id}}" style="text-decoration: none;">
      <h6 style="font-size: 1em;" class="text-uppercase text-secondary fw-bold">{{product.name}}</h6>
    </a>
    <h6 style="font-size: 0.8em;">{{product.price | currency}}</h6>

  </div>
</div>
