<!-- shop page -->
<div class="container mt-3">
  <div class="row">
    <!-- Side Bar Section -->
    <section class="col-3">
      <ng-container *ngIf="types && brands">
        <!-- Sorting Selector -->
      <h5 class="ms-3 mt-5 text-primary"><strong>Sort</strong></h5>
      <select class="custom-select mb-3" (change)="onSortSelected($event.target.value)">
        <option
          *ngFor="let sort of sortOptions"
          [selected]="shopParams.selectedSort === sort.value"
          [value]="sort.value">
          {{sort.name}}
        </option>
      </select>

      <!-- Types Filter -->
      <h5 class="text-primary ms-3"><strong>Types</strong></h5>
      <ul class="list-group my-3">
        <li class="list-group-item" *ngFor="let type of types" [class.active]="type.id === this.shopParams.selectedTypeId"
          [value]="type.id" (click)="onTypeSelected(type.id)">
          <strong>{{type.name}}</strong>

        </li>
      </ul>

      <!-- Brands Filter -->
      <h5 class="text-primary ms-3"><strong>Brands</strong></h5>
      <ul class="list-group my-3">
        <li class="list-group-item" *ngFor="let brand of brands" [class.active]="brand.id === this.shopParams.selectedBrandId"
          [value]="brand.id" (click)="onBrandSelected(brand.id)">
          <strong>{{brand.name}}</strong>
        </li>
      </ul>
      </ng-container>

    </section>

    <!-- Main Content Section -->
    <section class="col-9">
      <div class="d-flex justify-content-between align-items-center pb-2">
        <!-- Pagination Header -->
        <app-paging-header
        [totalCount]="totalCount"
        [pageSize]="this.shopParams.pageSize"
        [pageNumber]="this.shopParams.pageNumber">
        </app-paging-header>

        <!-- Search Bar -->
        <div class="d-flex" *ngIf="products">
          <input #search (keyup.enter)="onSearch()" class="form-control me-2" type="search" style="width: 18.75rem" placeholder="Search">
          <button (click)="onSearch()" class="btn btn-primary">Search</button>
          <button (click)="onReset()" class="btn btn-secondary ms-2">Reset</button>
        </div>
      </div>
      <!-- Display product items -->
      <div class="row">
        <div class="col-4 mb-4" *ngFor="let item of products">
          <app-product-item [product]="item"></app-product-item>
        </div>
      </div>
      <!-- Pagination Pager  -->
      <app-pager
        [pageNumber]="shopParams.pageNumber"
        [pageSize]="shopParams.pageSize"
        [totalCount]="totalCount"
        (pageChanged)="onPageChanged($event)">
      </app-pager>
    </section>
  </div>
</div>
