<div class="d-flex flex-column flex-md-row
  align-items-center justify-content-between p-1 px-md-4
  mb-3 bg-white border-bottom shadow-sm fixed-top">
  <div>
    <img class="logo ms-4" src="/assets/images/logo-1.png" style="max-height: 4.375rem;" alt="WineRez"
    routerLink="/">
    <span class="fs-4 fw-bold fst-italic">WineRez</span>
  </div>

  <nav class="my-2 my-md-0 mr-md-3 text-uppercase" style="font-size: larger;">
    <a class="p-2" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a class="p-2" routerLink="/shop" routerLinkActive="active">Shop</a>
  </nav>
  <div class="d-flex align-items-center">
    <a routerLink="/basket" class="position-relative">
      <i class="fa fa-shopping-basket fa-2x me-5 text-dark"></i>
      <div *ngIf="(basket$ | async) as basket" class="cart-no">{{basket.items.length}}</div>
    </a>
    <!-- If user is not logged, display login and register buttons -->
    <ng-container *ngIf="(currentUser$ | async) === null">
      <a routerLink="/account/login" class="btn btn-outline-secondary me-2">Login</a>
      <a routerLink="/account/register" class="btn btn-outline-secondary me-3">Sign up</a>
    </ng-container>

    <!-- If user is logged in, display their name and a welcome -->
    <ng-container *ngIf="(currentUser$ | async) as user">
      <div class="dropdown ms-3 me-5" dropdown>
        <a class="dropdown-toggle" style="cursor: pointer;" dropdownToggle>
          <strong>Welcome {{user.displayName}}!</strong>
        </a>

        <div class="dropdown-menu" style="cursor: pointer;" *dropdownMenu>
          <a routerLink="/basket" class="dropdown-item d-flex
            align-items-center fw-bold py-2">
            <i class="fa fa-shopping-cart me-2" aria-hidden="true"></i>
            View Cart
          </a>
          <a routerLink="/orders" class="dropdown-item d-flex
            align-items-center fw-bold py-2">
            <i class="fa fa-bars me-2" aria-hidden="true"></i>
            View Orders
          </a>
          <div class="dropdown-divider"></div>
          <a (click)="logOut()" class="dropdown-item d-flex
            align-items-center fw-bold py-2">
            <i class="fa fa-sign-out me-2" aria-hidden="true"></i>
            Log Out
          </a>
        </div>
      </div>
    </ng-container>
  </div>
</div>
